@model ScheduleModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/CreateNewScheduleView/CalculateTotalHours.js"></script>
<script src="~/Scripts/CreateNewScheduleView/CheckDataAndSave.js"></script>
<script src="~/Scripts/CreateNewScheduleView/CheckSheduleName.js"></script>
<script src="~/Scripts/CreateNewScheduleView/CopyNewScheduleNameToHiddenField.js"></script>

<div class="text-primary p-1">

    <h1 class="display-4 text-center mb-5">Create A New Schedule</h1>
    <partial name="_Notifications" />
    
    <label asp-for="@Model.ScheduleName" class="mb-0 row p-6" style="font-size:x-large" id="scheduleName"></label>
    <div class="mb-1 pt-2 d-flex">
        
        <input class="border-1 col-sm-4 mb-0 row p-6" name="ScheduleName" id="newScheduleName" style="font-size:x-large">
        <button class="btn btn-primary btn-lg p1" id="btn">Create</button>
     </div>
</div>
    <div class="form-group row p-1" style="font-size:x-large">
        <div class="mb-0 row p-6">
            <label asp-for="@Model.ScheduleName" class="p-0" style="font-size:x-large" id="confirmedName" hidden="hidden"></label>
            <input class="col-sm-5" style="font-size:large" id="copyNewScheduleName" hidden="hidden">
        </div>
        <div class="mb-0 row p-2">
            <label asp-for="@Model.ScheduleMonTotHours" class="p-0" style="font-size:x-large"></label>
            <input class="col-sm-1" style="font-size:large" id="Mon" disabled="disabled">
         </div>
            <div class="mb-0 row p-2">
            <label asp-for="@Model.ScheduleTueTotHours" class="p-0" style="font-size:x-large"></label>
            <input class="col-sm-1" style="font-size:large" id="Tue" disabled="disabled">
         </div>
         <div class="mb-0 row p-2">
            <label asp-for="@Model.ScheduleWedTotHours" class="p-0" style="font-size:x-large"></label>
            <input class="col-sm-1" style="font-size:large" id="Wed" disabled="disabled">
         </div>
         <div class="mb-0 row p-2">
            <label asp-for="@Model.ScheduleThurTotHours" class="p-0" style="font-size:x-large"></label>
            <input class="col-sm-1" style="font-size:large" id="Thur" disabled="disabled">
          </div>
         <div class="mb-0 row p-2">
             <label asp-for="@Model.ScheduleFriTotHours" class="p-0" style="font-size:x-large"></label>
             <input class="col-sm-1" style="font-size:large" id="Fri" disabled="disabled">
         </div>
         <div class="mb-0 row p-2">
             <label asp-for="@Model.ScheduleSatTotHours" class="p-0" style="font-size:x-large"></label>
             <input class="col-sm-1" style="font-size:large" id="Sat" disabled="disabled">
         </div>
          <div class="mb-0 row p-2">
             <label asp-for="@Model.ScheduleSunTotHours" class="p-0" style="font-size:x-large"></label>
             <input class="col-sm-1" style="font-size:large" id="Sun" disabled="disabled">
          </div>
          <div class="mb-0 row p-2">
              <label asp-for="@Model.ScheduleTotalHours" class="p-0" style="font-size:x-large"></label>
              <input class="col-sm-1" style="font-size:large" id="Total" disabled="disabled">
          </div>
            <div class="mb-0 row p-2">
                <input class="col-sm-1" style="font-size:large" id="copyTotal" hidden="hidden">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 p-3">
                        <button class="btn btn-primary btn-lg" id="save" disabled="disabled">Save</button>
                    </div>

                    <div class="col-md-1 p-3">
                        <form method="post" action="/Schedule/ScheduleOptions">
                            <button type="submit" class="btn btn-lg btn-primary" id="back">Back</button>
                        </form>
                    </div>
                </div>
            </div>
</div>