@model ListsModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Scripts/EditExistingClientView/GetDetailsOfSelectedClient.js"></script>
<script src="~/Scripts/EditExistingClientView/ChangeTotHrsUponScheduleChange.js"></script>
<script src="~/Scripts/EditExistingClientView/CheckDataAndSave.js"></script>

<div id="viewContainer">

    <div class="text-primary p-3">

        <h1 class="display-4 text-center">Edit Client Data:</h1>
        <partial name="_Notifications" />

        <div class="mb-3 row p-3">
            <label class="p-0" style="font-size:x-large">Choose a Client to Edit:</label>
            <div class="row mb-0 p-3">
                <select class="form-select p-3" name="editClient" id="selectClient">
                    <option value="" disabled selected>Choose a client</option> @*This will serve as a placeholder in the dropdown list*@
                    @if (Model.ClientList != null)
                    {
                        @foreach (var item in @Model.ClientList)
                        {
                            if (item.ClientName != "")
                            {
                                <option>@item.ClientName</option>
                            }
                        }
                    }

                </select>
            </div>
        </div>

            <div class="mb-0 row p-6">
                <label class="p-0" style="font-size:x-large">Client Name:</label>
                <input class="mb-1 pt-4" style="font-size:large" id="NewClientName" disabled="disabled">
            </div>
            <div class="mb-0 row p-2">
                <label class="p-0" style="font-size:x-large">Address:</label>
                <input class="mb-1 pt-4" style="font-size:large" id="Address" disabled="disabled">
            </div>
            <div class="mb-0 row p-2">
                <label class="p-0" style="font-size:x-large">Contact Details:</label>
                <input class="mb-1 pt-4" style="font-size:large" id="Contact" disabled="disabled">
            </div>
            <div class="mb-0 row p-2">
                <label class="p-0" style="font-size:x-large">Schedule:</label>
            <select class="mb-1 pt-4" style="font-size:large" name="schedule" id="selectSchedule" disabled="disabled">
                <option value="" disabled selected>Choose a schedule</option> @*This will serve as a placeholder in the dropdown list*@

                @if (Model.ScheduleList != null)
                {
                    @foreach (var item in @Model.ScheduleList)
                    {
                        if (item.ScheduleName != "")
                        {
                            <option>@item.ScheduleName</option>
                        }
                    }
                }
            </select>
            </div>
            <div class="mb-0 row p-2">
                <label class="p-0" style="font-size:x-large">Category:</label>
            <select class="mb-1 pt-4" style="font-size:large" name="category" id="selectCatgory" disabled="disabled">
                <option value="" disabled selected>Choose a Category</option> @*This will serve as a placeholder in the dropdown list*@
                
                @if (Model.CategoryList != null)
                {
                    @foreach (var item in @Model.CategoryList)
                    {
                        if (item.CategoryName != "")
                        {
                            <option>@item.CategoryName</option>
                        }
                    }
                }

            </select>
            </div>
            <div class="mb-0 row p-2">
                <label class="p-0" style="font-size:x-large">Total Hours:</label>
                <input class="mb-1 pt-4" style="font-size:large" id="TotalHours" disabled="disabled">
            </div>
            <div class="mb-0 row p-2">
                <input class="mb-1 pt-4" style="font-size:large" id="copyTotalHours" hidden="hidden">
            </div>

            </div>

        <div class="container">
            <div class="row">
                <div class="col-md-1 p-3">
                    <button class="btn btn-primary btn-lg" id="save" disabled="disabled">Save</button>
                </div>

                <div class="col-md-1 p-3">
                    <form method="post" action="/Client/ClientOptions">
                        <button type="submit" class="btn btn-lg btn-primary" id="back">Back</button>
                    </form>
                </div>
            </div>
        </div>
    </div>